# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.sample

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
.project
.classpath
.settings/

# OS Files
.DS_Store
Thumbs.db

# Project specific
.gemini/
.temp/
tmp/
out/
.TNMCORE-OS-Slides/
__pycache__/
*.pyc
dev/
data/
.agent/.DS_Store
src/

.opencode
/.antigravitycli/
.claude
.agent
